<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083901499596-kgc91r0813g2o2u1vt0u1j54qh5p2qba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083901499596-kgc91r0813g2o2u1vt0u1j54qh5p2qba</string>
	<key>API_KEY</key>
	<string>AIzaSyCERzFkHPhX1q1jZHpluliCH_54ndyS69E</string>
	<key>GCM_SENDER_ID</key>
	<string>1083901499596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rawicoding.waitathome</string>
	<key>PROJECT_ID</key>
	<string>waitathome-210b1</string>
	<key>STORAGE_BUCKET</key>
	<string>waitathome-210b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083901499596:ios:bec8b4c5663d81ba99ca69</string>
	<key>DATABASE_URL</key>
	<string>https://waitathome-210b1.firebaseio.com</string>
</dict>
</plist>